
<footer class=""  style="background-color: #00204a">


<div class="" style="border-top: 1px solid #fff">

<div class="container">


<div class="row " style="border-bottom: 1px solid #fff">



<div class="col-lg-5 col-4 mb-4 mt-4">
    <a class="navbar-brand" href="/"><img src="./assets/images/logo-vingtdeux-white (1).svg"></a>
</div>


<div class="col-lg-1 col-1 mb-4 mt-4">
    <i class="fa-brands fa-linkedin text-white fa-2x"></i></div>
    <div class="col-1 mb-4 mt-4">
        <i class="fa-brands fa-instagram text-white fa-2x"></i>
    </div>
<div class="col-lg-1 col-1 mb-4 mt-4">
    <i class="fa-brands fa-facebook text-white fa-2x"></i></div>







</div>

<div class="row mt-3 text-white text-center " style="border-bottom: 1px solid white">

<div class="col-lg-3 mt-3 mb-3" style="border-right:1px solid #fff">
<p>+216 58 477 271</p>
</div>
<div class="col-lg-3 mt-3 mb-3 " style="border-right:1px solid #fff">
    <p>hello@jemsit.com</p>
</div>
<div class="col-lg-3 mt-3 mb-3 " style="border-right:1px solid #fff">
    <p>01 rue de la paix la goulette casino</p>
</div>
</div>












</div>








</div>

    </footer>

