<div style="background: #005792;
color: white; overflow: hidden;">


  <div class="video_cont">

    <video  #video src="assets/images/Teaser-Manking-of.mp4" loop muted autoplay  (canplay)="video.play()" playsInline
    (loadedmetadata)="video.muted = true"></video>
  

  </div>


  <div class="container">


    <div class="row mt-5">

      <div class="col-lg-2">



      </div>
      <div *ngIf="language == 'fr'"  class="col-lg-8 text-center">
        <h1 class="text-center Agence" >Societe de développement créative &amp; et digital en tunisie</h1>

        <h2 class="text-special" ><span style="background: #f70776;">Chez Jemsit, nous redéfinissons votre expérience IT</span></h2>
        <p class="text-center AgenceP">En tant que spécialistes du développement et du consulting, nous vous aidons à créer du sens et à générer de l'engagement grâce à notre approche créative et innovante. Notre équipe d'experts excelle dans la création graphique, le développement et l'innovation. Avec une vision à 360°, nous relevons les défis avec passion pour propulser votre succès.</p>

        <a class="btn btn_modifier mt-5 "  (click)="scrollToSection('form')">Contactez-nous<i class="fa-solid fa-plus ms-4"></i></a>

      </div>
      <div *ngIf="language == 'en' "  class="col-lg-8 text-center">
        <h1 class="text-center Agence" >A creative and digital development company in Tunisia</h1>

        <h2 class="text-special" ><span style="background: #f70776">At Jemsit, we redefine your IT experience</span></h2>
        <p class="text-center AgenceP"> As specialists in development and consulting, we assist you in creating meaning and generating engagement through our creative and innovative approach. Our team of experts excels in graphic design, development, and innovation. With a 360-degree vision, we passionately tackle challenges to propel your success.</p>

        <a class="btn btn_modifier mt-5 "  (click)="scrollToSection('form')">Contact us<i class="fa-solid fa-plus ms-4"></i></a>

      </div>

    </div>


          <div class="row image_animation1" style="margin-top: 150px">


            <div *ngIf="language == 'fr'" class="col-lg-6">
              <h2 >
                Notre Mission<br>
              </h2>
              <p >Chez nous, c'est simple : on prend le temps de comprendre votre entreprise et votre besoin. On crée ensuite des solutions sur mesure qui collent parfaitement à vos besoins spécifiques. Notre approche personnalisée, c'est la garantie de résultats qui boostent  votre croissance.</p>
            </div>

            <div *ngIf="language == 'en'" class="col-lg-6">
              <h2 >
                Our Mission<br>
              </h2>
              <p >At our place, it's simple: we take the time to understand your business and your needs. We then create tailor-made solutions that perfectly match your specific requirements. Our personalized approach is the guarantee of results that boost your growth.</p>             
            </div>
            <div class="col-lg-6 text-center">
              <div class="row">

                <div class="col-lg-6 col-6" style="display: flex; flex-direction: column-reverse;align-content: flex-start;align-items: flex-end;">
                  <img src="assets/images/Développement-Web-MFF1.jpg" id="image1" class="img-fluid ">

                </div>
                <div class="col-lg-6 col-6" style=" display: flex;flex-direction: column-reverse;">
                  <img src="assets/images/Développement-Web-Majam1.jpg"  id="image2" class="img-fluid">

                </div>
              </div>
              <div class="row">

                <div class="col-lg-6 col-6" style="display: flex;flex-direction: column-reverse;align-content: flex-start;align-items: flex-end;">
                  <img src="assets/images/Contenus-LHDB1.jpg" id="image3"  class="img-fluid">

                </div>
                <div class="col-lg-6 col-6" style=" display: flex;flex-direction: column-reverse;">
                  <img src="assets/images/Acqui-Esprit-Trek1.jpg" id="image4"   class="img-fluid">

                </div>
              </div>
            </div>
          </div>        
  </div>
  





    
  
     
  





<div class="container">
    <div class="col-lg-12 col-md-6 col-6">
    <div *ngIf="language == 'fr'" class="row mt-5">
      <br>
    </div>
    <div *ngIf="language == 'en'" class="row mt-5">
      <h2 class="fw-light">Working with <b class="fw-bold">Jemsit</b> <br>
        </h2>
    </div>
    </div>

    <div *ngIf="language == 'fr'" class="row mt-4">

     <div class="col-lg-3 col-md-6 col-6">
    <div class="rotate">
    <img src="assets/images/ONE.svg" class="img-fluid rotate_">
    </div>
    <h3>Créativité</h3>
    <p>Nous pensons hors de sentiers battus pour vous proposer des solutions originales innovantes et stimulantes pour vos projets.</p>
    </div>

      <div class="col-lg-3 col-md-6 col-6">
        <div class="rotate">
          <img src="assets/images/TWO.svg" class="img-fluid rotate_">
        </div>
        <h3>Confiance</h3>
        <p>Notre conception de la relation entre clients et partenaires se base sur des échanges francs et bienveillants afin de challenger toutes les idées nécessaires au succès de vos projets.</p>
      </div>

      <div class="col-lg-3 col-md-6 col-6">
        <div class="rotate">
          <img src="assets/images/THREE.svg" class="img-fluid rotate_">
        </div>

        <h3>Agilité</h3>
        <p>Nous savons travailler efficacement dans des environnements changeants et nous pouvons résoudre rapidement vos problématiques et vous aidons à trouver des solutions créatives aux défis que vous rencontrez.</p>
      </div>

      <div class="col-lg-3 col-md-6 col-6">
        <div class="rotate">
          <img src="assets/images/FOUR.svg" class="img-fluid rotate_">
        </div>

        <h3>Implication</h3>
        <p>Votre projet est notre projet. Disponible et à l’écoute, nous vous accompagnons lors de chaque étape de votre projet. Que ce soit lors de la prise de brief ou après la livraison, nous sommes présents pour répondre à vos interrogations et suggestions.</p>
      </div>
  </div>
  <div *ngIf="language == 'en'" class="row mt-4">

    <div class="col-lg-3 col-md-6 col-6">
      <div class="rotate">
      <img src="assets/images/ONE.svg" class="img-fluid rotate_">
      </div>
      <h3>Creativity</h3>      
      <p>We think outside the box to offer you original, innovative, and stimulating solutions for your projects.</p>    
    </div>
    
            <div class="col-lg-3 col-md-6 col-6">
            <div class="rotate">
              <img src="assets/images/TWO.svg" class="img-fluid rotate_">
            </div>
            <h3>Confidence</h3>            
            <p>Our conception of the relationship between customers and partners is based on frank and benevolent exchanges in order to challenge all the ideas necessary for the success of your projects.</p>          </div>
    
          <div class="col-lg-3 col-md-6 col-6">
            <div class="rotate">
              <img src="assets/images/THREE.svg" class="img-fluid rotate_">
            </div>
    
            <h3>Agility</h3>
            <p>We know how to work effectively in changing environments and can quickly solve problems and help you find creative solutions to the challenges you face.</p>          </div>
    
          <div class="col-lg-3 col-md-6 col-6">
            <div class="rotate">
              <img src="assets/images/FOUR.svg" class="img-fluid rotate_">
            </div>
    
            <h3>Implication</h3>            
            <p>Your project is our project. Available and ready to listen, we're with you every step of the way. From briefing to post-delivery, we're here to answer your questions and suggestions.</p>          </div>
      </div>
</div>



  <div class="row mt-5">


    <div class="col-lg-3 col-md-3 col-2">

      <img src="../../assets/images/idea-shape.svg" class="img-fluid">
    </div>

    <div class="col-lg-6 col-md-6 col-8">
    <h2 *ngIf="language == 'fr'" class="fw-light text-center">Vous avez un projet ?<br>Et si nous lui <b class="fw-bold">donnions vie ensemble ?</b></h2>
    <h2 *ngIf="language == 'en'" class="fw-light text-center">Do you have a project in mind?<br>What if we <b class="fw-bold">lived it together?</b></h2>
    </div>
  </div>


  <div class="container">


    <div class="row">



      <div class="col-lg-3">



      </div>

      <div *ngIf="language == 'fr'" class="col-lg-6 text-center">
        <p class="text-center">
          <span style="background: #f70776">Vous êtes unique, ne l’oubliez pas !</span>
          À l’agence Vingt Deux (ou agence 22 pour certains) , nous sommes fiers d’accompagner les marques engagées et fédératrices dans leur stratégie de communication. Nous les aidons à délivrer le meilleur message avec le meilleur visuel et le meilleur canal de communication afin de révéler leur potentiel et d’optimiser leur stratégie d’acquisition digitale ou physique.
        </p>
        <p class="">
          Buvons un café ensemble et parlons-en.

        Les bureaux de notre agence marketing se situent à Turing 22 à Clermont-Ferrand.
        </p>

      </div>
      <div *ngIf="language == 'en'" class="col-lg-6 text-center">
        <p class="text-center">
          <span style="background: #f70776">Vous êtes exceptionnel, ne l'oubliez jamais!</span>
          Jemsit, votre partenaire en développement et consulting IT, est implanté à Tunis . 
Notre équipe de consultants IT imagine vos projets dans leur globalité. Parce que chez Jemsit, le conseil alimente la création, chaque projet est accompagné d'un conseil personnalisé, rien que pour vous. 🙂
Que vous recherchiez un partenaire à La goulette, ou à l'échelle nationale, nous sommes prêts à relever tous les challenges. Travaillons ensemble pour faire grandir votre entreprise dans le monde de la technologie et du consultation IT. </p>
         

      </div>


    </div>

    <div class="row">



      <div class="col-lg-2">



      </div>

      

      

    </div>

  </div>






  <section  class="mt-5" style="background: #005792; color: white">
    <div class="image-container2">
    </div>
    <div class="container">
      <div class="image-container">

       
        <img src="assets/images/Sticker-01.svg" class="sticker" >
      </div>



      <div *ngIf="language == 'fr'" class="row mt-5  pe-4 ps-4">
        <div class="col-lg-6 p-3 order-lg-1 order-1">
          <h3 class="mt-5">CONTACTEZ-NOUS
            <br><br>
            <b>Besoin d'un <br> accompagnement ?</b></h3>
          <hr>
          <p class="mt-5">Échangeons sur votre projet et créons votre accompagnement sur mesure.
            <br><br><br>
            +216 58 477 271
            <br><br><br>
            hello@jemsit.com


          </p>

          <h3><b>5/5</b> <i class="fa-solid fa-star text-warning"></i>
            <i class="fa-solid fa-star text-warning"></i>
            <i class="fa-solid fa-star text-warning"></i>
            <i class="fa-solid fa-star text-warning"></i>
            <i class="fa-solid fa-star text-warning"></i></h3>
          <p>Avis Google</p>

        </div>
        <div class="col-lg-6 bg-white order-lg-2 order-2 mb-5 " style="border-radius: 15px">
          <div class="text-dark p-3">
            <h1> Nous Contacter</h1>
            <p>Les champs marqués d’un * sont obligatoires   </p>
            <form id="form">
              <div class="form-group">
                <label for="prenom">Prénom *</label>
                <input type="text" class="form-control" id="prenom" required>
              </div>
              <div class="form-group">
                <label for="nom">Nom *</label>
                <input type="text" class="form-control" id="nom" required>
              </div>
              <div class="form-group">
                <label for="entreprise">Entreprise *</label>
                <input type="text" class="form-control" id="entreprise" required>
              </div>
              <div class="form-group">
                <label for="email">E-mail *</label>
                <input type="email" class="form-control" id="email" required>
              </div>
              <div class="form-group">
                <label for="telephone">Téléphone *</label>
                <input type="tel" class="form-control" id="telephone" required>
              </div>
              <div class="form-group">
                <label for="besoin">Quel est votre besoin ? *</label>
                <textarea class="form-control" id="besoin" rows="3" required></textarea>
              </div>
              <button type="submit" class="btn btn-dark mt-4 mb-4">Envoyer</button>
            </form>
          </div>
        </div>




      </div>



      <div *ngIf="language == 'en'" class="row mt-5 pe-4 ps-4">
        <div class="col-lg-6 p-3 order-lg-1 order-1">
          <h3 class="mt-5">CONTACT US
            <br><br>
            <b>Do you need <br> support?</b></h3>
          <hr>
          <p class="mt-5">Let's discuss your project and create a tailor-made package.
            <br><br><br>
            +216 58 477 271
            <br><br><br>
            hello@jemsit.com


          </p>

          <h3><b>5/5</b> <i class="fa-solid fa-star text-warning"></i>
            <i class="fa-solid fa-star text-warning"></i>
            <i class="fa-solid fa-star text-warning"></i>
            <i class="fa-solid fa-star text-warning"></i>
            <i class="fa-solid fa-star text-warning"></i></h3>
          <p>Google reviews</p>

        </div>
        <div class="col-lg-6 bg-white order-lg-2 order-2 mb-5 " style="border-radius: 15px">
          <div class="text-dark p-3">
            <h1> Contact us</h1>
            <p>Fields marked with * are mandatory   </p>
            <form id="form">
              <div class="form-group">
                <label for="prenom">First name *</label>
                <input type="text" class="form-control" id="prenom" required>
              </div>
              <div class="form-group">
                <label for="nom">Name *</label>
                <input type="text" class="form-control" id="nom" required>
              </div>
              <div class="form-group">
                <label for="entreprise">Company *</label>
                <input type="text" class="form-control" id="entreprise" required>
              </div>
              <div class="form-group">
                <label for="email">E-mail *</label>
                <input type="email" class="form-control" id="email" required>
              </div>
              <div class="form-group">
                <label for="telephone">Phone *</label>
                <input type="tel" class="form-control" id="telephone" required>
              </div>
              <div class="form-group">
                <label for="besoin">What do you need? *</label>
                <textarea class="form-control" id="besoin" rows="3" required></textarea>
              </div>
              <button type="submit" class="btn btn-dark mt-4 mb-4">Send</button>
            </form>
          </div>
        </div>




      </div>

    </div>
  </section>