.video_cont {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video_cont video {
  width: 100%;
height: auto;
}
.centered-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 750px;
}
.text-special{

  font-family: pangram,Sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4em;
}
h1{

  font-size: 2.3vw;
  font-weight: 300;
  font-family: Naoko;
}
#image1.animate {
  transform: translateY(0px) translateX(0px) rotateZ(0deg) scale(1);
  transition: transform 1s ease;
}
#image2.animate{

  transform: translateY(0px) translateX(0px) rotateZ(0deg) scale(1);
  transition: transform 1s ease;
}
#image3.animate{

  transform:  translateX(0px) rotateZ(0deg) scale(1);
  transition: transform 1s ease;
}
#image4.animate{

  transform:  translateX(0px) rotateZ(0deg) scale(1);
  transition: transform 1s ease;
}


#image1_1.animate {
  transform: translate(-50%, -50%) scale(1);
  transition: transform 1s ease;
}
#image2_2.animate{

  transform: translateY(0px) rotateZ(0deg) scale(1);
  transition: transform 1s ease;
}
#image3_3.animate{

  transform:  translateY(0px) rotateZ(0deg) scale(1);
  transition: transform 1s ease;
}
#image4_4.animate{

  transform:  translateY(0px) rotateZ(0deg) scale(1);
  transition: transform 1s ease;
}

h2{
  font-family: naoko;
  font-size: 4vw;
  font-weight: bold;
  line-height: 1.2em;

}
h3{
  font-family: naoko;

}

p{

  font-size: 17px;
  font-family: pangram;
  line-height:1.4em;
}
form{
  font-family: pangram;
}
.btn_modifier{
  z-index: 9999999;
  font-family: pangram;
  background: linear-gradient(to right, #005792 50%, #f70776 50%);
  background-size: 200% 100%;
  transition: background-position 0.3s;
color: white;
border: 1px solid white;
}

.btn_modifier:hover{
  border: transparent;
  background-position: -100% 0;


}


.btn_modifier2{
  z-index: 9999999;
  font-family: pangram;
  background: linear-gradient(to right, #005792 50%, #f70776 50%);
  background-size: 200% 100%;
  transition: background-position 0.3s;
  color: white;
  border: 1px solid white;
}
.btn_modifier2:hover{
  border: transparent;
  background-position: -100% 0;


}
.btn_modifier3{
  z-index: 9999999;
  font-family: pangram;
  background: linear-gradient(to right, #005792 50%, #f70776 50%);
  background-size: 200% 100%;
  transition: background-position 0.3s;
  color: white;
  border: 1px solid white;
}
.btn_modifier3:hover{
  border: transparent;
  background-position: -100% 0;


}

.col-lg-6.text-center.image_animation22 {
  position: relative;

}

.col-lg-6.text-center.image_animation22 img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;

}
#image1_1 {

  width: 180px;
  max-width: 180px;
  height: 210px;
  top: 100px;
  left: 180px;
  transform: translate(-50%, -50%) scale(1.4) ;
  transition: transform 1s ease;


}

#image2_2 {

  width: 180px;
  max-width: 180px;
  height: 210px;
  top:115px;
  left: 80px;
  transform: translateY(-50px) rotateZ(-5deg) scale(1.4) ;
  transition: transform 1s ease;


}

#image3_3 {


  width: 180px;
  max-width: 180px;
  height: 210px;
  top: 235px;
  right: 155px;
  transform: translateY(-100px) rotateZ(-5deg) scale(1.2) ;
  transition: transform 1s ease;


}

#image4_4 {

  width: 180px;
  max-width: 180px;
  height: 210px;
  bottom: -80px;
  right: 80px;

  transform: translateY(-150px) rotateZ(-5deg) scale(1.3) ;
  transition: transform 1s ease;


}



#image1_0 {

  width: 180px;
  max-width: 180px;
  height: 210px;
  object-fit: cover;
  transform: translateY(-50px) rotateZ(-5deg) scale(1.1) ;
  transition: transform 1s ease;


}

#image2_0 {

  width: 180px;
  max-width: 180px;
  height: 210px;
  object-fit: cover;

  transform: translateY(-50px) rotateZ(-10deg) scale(1.1) ;
  transition: transform 1s ease;


}

#image3_0 {
  width: 180px;
  max-width: 180px;
  height: 210px;;
  object-fit: cover;


  transform: translateY(50px) rotateZ(5deg) scale(1.1) ;
  transition: transform 1s ease;


}
#image1_0.animate{
  transform: translateY(0px) rotateZ(0deg) scale(1) ;
  transition: transform 1s ease;

}
#image2_0.animate{
  transform: translateY(0px) rotateZ(0deg) scale(1) ;
  transition: transform 1s ease;

}
#image3_0.animate{
  transform: translateY(0px) rotateZ(0deg) scale(1) ;
  transition: transform 1s ease;

}


#image1 {
  width: 180px;
  max-width: 180px;
  height: 210px;
  object-fit: cover;
  transform: translateY(50px) translateX(-25px) rotateZ(-5deg) scale(1.1);
  transition: transform 1s ease;
}

#image2 {

  width: 180px;
  max-width: 180px;
  height: 210px;
  object-fit: cover;
  transform: translateY(50px) translateX(30px) rotateZ(5deg) scale(1.1);
  transition: transform 1s ease;
}
#image3{
  width: 180px;
  max-width: 180px;
  height: 210px;
  transform: translateX(50px) rotateZ(-10deg) scale(1.1);
  transition: transform 1s ease;
}
#image4{
  width: 180px;
  max-width: 180px;
  height: 210px;
  transform: translateX(50px) rotateZ(5deg) scale(1.1);
  transition: transform 1s ease;
}
.rotate_:hover{
  transform: scale(1.1) rotate(4deg);
  transition-duration : .8s;
}
.img_animation {
  transform: translate(-100%, 0%);
  transition: transform 1000ms;
  visibility: hidden;
}
.img_animation.show {
  transform: translate(0%, 0%);
  visibility: visible;
}
.image-container {
  position: relative;
}
.sticker {
  width: 150px;
  position: absolute;
  bottom: 0;
  right: 0;
  animation: stickerAnimation 5s infinite linear;
}
.image-container2 {
  position: relative;
}
.sticker2 {
  width: 150px;
  position: absolute;
  top: 0;
  left: 0;
  animation: stickerAnimation 5s infinite linear;
  z-index: 15;
}
@keyframes stickerAnimation {
  0% { transform: translate(0, 0); }
  50% { transform: translate(-5px, 5px); }
  100% { transform: translate(0, 0); }
}



@media (max-width: 991.98px) {
  .image-wrapper{

    height: 650px;
  }

  #image4_4 {

    width: 180px;
  max-width: 180px;
  height: 210px;
    top:350px;
    right: 80px;

    transform: translateY(-150px) rotateZ(-5deg) scale(1.3) ;
    transition: transform 1s ease;


  }

}

@media (max-width: 767.98px) {

  .sticker2 {
    width: 100px;
    position: absolute;
    top: 50px;
    left: 0;
    animation: stickerAnimation 5s infinite linear;
    z-index: 15;
  }
  .sticker {
    width: 100px;
    position: absolute;
    bottom: -50px;
    right: 0;
    animation: stickerAnimation 5s infinite linear;
  }

  .video_cont video{
width: 900px;
    height: 470px;
  }
.centered-image{

  width: 250px;
}

  #image1_0
  {
    width: 180px;
    max-width: 180px;
    height: 210px;
  }
  #image2_0{
    width: 180px;
    max-width: 180px;
    height: 210px;
  }
  #image3_0{
    width: 180px;
    max-width: 180px;
    height: 210px;

  }
  #image1{
    width: 180px;
    max-width: 180px;
    height: 210px;
    transform: translateY(50px) translateX(-25px) rotateZ(-5deg) scale(1.1);
    transition: transform 1s ease;
  }
  #image2{
    width: 180px;
    max-width: 180px;
    height: 210px;
    object-fit: contain;
  }
  #image3{
    width: 180px;
    max-width: 180px;
    height: 210px;
  }
  #image4{
    width: 180px;
    max-width: 180px;
    height: 210px;
  }

  h2{
    font-size: 7.5vw;
  }

  .Agence{

    font-size: 3.2vw;
  }
  .AgenceP, .text-special{
    font-size: 14px
  }

  .image-wrapper{

    height: 480px;
  }

  #image4_4{
    top: 290px;
    right: 10px;
    width: 180px;
    max-width: 180px;
    height: 210px;
  }
  #image3_3{
    width: 180px;
    max-width: 180px;
    height: 210px;
    right: 30px;
  }
  #image3.animate{

    transform:  translateX(-20px) rotateZ(0deg) scale(1);
    transition: transform 1s ease;
  }
  #image2_2{
    width: 180px;
    max-width: 180px;
    height: 210px;

  }

  #image1_1{
    width: 180px;
    max-width: 180px;
    height: 210px;

  }

  .d-flex.justify-content-start.flex-wrap a {
    display: block;
    margin-bottom: 10px;
    margin-right: 0;
  }

  .heart{
    width: 68px;
  }
}