<div class="" style="background:#1A71FD; overflow: hidden">

    <div class="row">
  
  
      <div class="col-lg-2 col-md-2">
  
  
      </div>
      <div class="col-lg-8 col-md-8 text-center mt-lg-5 mt-md-5 mt-0 mb-2 text-white">
        <h1 style="margin-top:100px; margin-left: 30px; margin-right: 30px;"><b>Améliorez votre visibilité sur Google</b> en déployant une stratégie durable pour votre 
            <b>référencement naturel</b> </h1>
  
        <a class="btn btn_modifier mt-4 " (click)="scrollToSection('form')"><b>Contact</b> <i class="fa-solid fa-plus ms-4"></i></a>
  
  
      </div>
    </div>
  <div class="row">
    <div >
      <div class="tech-slideshow mt-5">
        <div class="d-flex mover-1 mt-5"><span class="mx-5 testanimation">Rédaction web</span><span class="mx-5 testanimation">E-reputation</span><span class="mx-5 testanimation">Meta title</span><span class="mx-5 testanimation">Temps chargement</span><span class="mx-5 testanimation">Netlinking</span> <span class="mx-5 testanimation">Rédaction web</span><span class="mx-5 testanimation">E-reputation</span><span class="mx-5 testanimation">Meta title</span><span class="mx-5 testanimation">Temps chargement</span><span class="mx-5 testanimation">Netlinking</span></div>
        <div class="mover-2"> </div>
      </div>      </div>
    </div>
  
  </div>
  <div class="" style="background:#000022; overflow: hidden">
  
    <div class="row">
  
  
      <div class="col-lg-3 col-md-2 col-1">
  
  
      </div>
      <div class="col-lg-6 col-md-8  col-10 text-center mt-5 mb-2 text-white">
        <h2 class="">Ayez une<br><b>
          longueur d’avance</b></h2>
  
        <p class="text-center">Au sein de l'agence digitale Vingt Deux nous pensons que la communication doit être pensée dans une optique de croissance et d’efficacité sur le court , moyen et long terme. Nous définissons, avec vous, la
            <span style="background:#1A71FD; font-weight: bold">meilleure stratégie SEO</span> à adopter : campagne de netlinking et de backlinks, optimisations techniques, champ lexical et sémantique, budget, articles sponsorisés, identification des pages les plus stratégiques à optimiser, etc.</p>
  
      </div>
    </div>
    <div class="container">
    <div class="row mt-3 mb-5">
      <div class="col-lg-3 col-md-6 col-6 ">
  <div>
  <img src="assets/images/developpement-icon.svg" class="img-fluid">
        <h3 class="fw-bold mt-3">Transparence</h3>
        <div class="text-white mt-3">
          <p>Notre objectif : propulser votre référencement naturel..</p> </div>
  
  </div>
      </div>
  
  
  
      <div class="col-lg-3 col-md-6 col-6">
        <div>
          <img src="assets/images/gain-de-temps.svg" class="img-fluid">
          <h3 class="fw-bold mt-3">Gain de temps</h3>
          <div class="text-white mt-3">
            <p>Confiez-nous la gestion complète de votre SEO et bénéficiez de reportings réguliers.

            </p> </div>
  
        </div>
      </div>
  
  
  
      <div class="col-lg-3 col-md-6 col-6">
        <div>
          <img src="assets/images/maitrise-totale.svg" class="img-fluid">
          <h3 class="fw-bold mt-3">Maîtrise totale</h3>
          <div class="text-white mt-3">
            <p>Netlinking, contenu, optimisation on-site : tout ce que nous créons pour vous vous appartient</p> </div>
  
        </div>
      </div>
  
  
  
      <div class="col-lg-3 col-md-6 col-6">
        <div>
          <img src="assets/images/sur-mesure.svg" class="img-fluid">
          <h3 class="fw-bold mt-3">Sur mesure</h3>
          <div class="text-white mt-3">
            <p>Gestion de votre SEO sur mesure selon vos besoins précis..</p> </div>
  
        </div>
      </div>
  
  
  
    </div>
  </div>
  </div>
  
  
  <div class="" style="background:#1A71FD; overflow: hidden">
  <div class="container">
    <div class="row text-white" >
  
      <h2 class="text-white mt-5 text-start"><b>Offres</b><br>
        SEO & référencement naturel</h2>
  
      <div class="col-lg-6 col-md-6 col-6 mt-5 mb-4">
  
        <h3 class="fw-bold">Audit SEO</h3>
        <p class="mt-3">L’audit de votre site web permet d’avoir un instantané de votre référencement naturel. Cette analyse est constituée de deux grandes phases : l’audit des performances techniques de votre site et l’état des lieux du positionnement  de votre site sur les moteurs de recherche.
            Pour l’aspect technique, l’objectif est d’analyser les performances de votre site, sa rapidité d’exécution sur mobile ou sur desktop, son maillage interne, son contenu, la structure des pages. Ces différents éléments sont considérés comme très important par Google pour se positionner.

Pour l’état des lieux de votre positionnement actuel sur les moteurs de recherche, il s’agit de cibler votre champs sémantique, de voir ce qui fonctionne et surtout de voir ce que nos équipes peuvent implémenter pour booster votre visibilité sur les moteurs de recherche. A l’issu de cette analyse, nous pourrons déterminer ensemble les mots clés à optimiser, le contenu à rédiger sur vos pages et nous aurons une pleine visibilité sur le netlinking présent sur votre site.

Avec votre URL, votre champs sémantique et vos objectif notre équipe SEO, qui fonctionne comme une agence seo, peut débuter son travail et en place la première pierre de votre stratégie seo pour vous faire briller en première page de Google !
        </p>
      </div>
  
      <div class="col-lg-6 col-md-6 col-6 mt-5 mb-4">
  
        <h3 class="fw-bold">Rédaction web</h3>
        <p class="mt-3">
            Content is King! On ne le répétera jamais assez mais un contenu de qualité et répondant aux critères des moteurs de recherche est essentiel dans votre stratégie de référencement naturel. Google souhaite présenter du contenu de qualité à ses utilisateurs. Vous devez donc soigner vos textes afin que vos utilisateurs soient satisfaits mais également réaliser des textes optimisés pour Google afin de satisfaire son algorithme. Vos contenus doivent être structurés afin de répondre à une requêtes cible des internautes et autour d’un cocon sémantique précis.

            les lecteurs soit satisfait du contenu tout en cherchant à séduire les algorithmes des moteurs de recherche. Pour ce faire, l’Agence Vingt Deux, à travers son pôle éditorial, vous accompagne pour la rédaction d’articles de blog, rédaction de vos fiches produits, rédaction pour votre campagne netlinking ou encore la rédaction de communiqué de presse ou d’interviews.
        </p>    </div>
  
  
      <div class="col-lg-6 col-md-6 col-6 mt-5 mb-4">
  
        <h3 class="fw-bold">Stratégie "SEO On-site"</h3>
        <p class="mt-3">Qu’est-ce-que le SEO On-site ? Il s’agit des actions de référencement naturel qui sont réalisées sur votre site afin de le rendre plus visible par les moteurs de recherche comme Google, Bing ou Ecosia. Optimisation de vos balises, maillage interne de votre site, amélioration de vos contenus, performances techniques de votre site… Bien menés, tous ces éléments vous permettent de remporter d’importantes positions sur Google et d’accroitre ainsi votre référencement naturel.</p> </div>
  
  
      <div class="col-lg-6 col-md-6 col-6 mt-5 mb-4">
  
        <h3 class="fw-bold">Stratégie "SEO Off-site"</h3>
        <p class="mt-3">Le référencement naturel off-site est plus communément appelé Netlinking. Il s’agit d’éléments qui sont externes à vos pages web mais qui influencent votre référencement naturel : les liens (backlinks) qui pointent vers votre site web en sont l’élément principal.
            Le netlinking est aujourd’hui un levier essentiel dans une stratégie de référencement naturel. En effet, lorsqu’un site influent et de confiance va envoyer un lien vers votre site cela aura pour effet de transmettre une partie de sa réputation vers votre site.
            Partant de ce constat, on comprend immédiatement qu’il est essentiel d’obtenir ces précieux backlinks. Vingt Deux vous aide à créer une campagne de netlinking sur mesure, avec des backlinks de qualité afin de devenir plus visible sur internet et de référencer votre activité.</p> </div>
  
  
      <div class="col-lg-6 col-md-6 col-6 mt-5 mb-4">
  
        <h3 class="fw-bold">Stratégie "local SEO"</h3>
        <p class="mt-3">Le référencement local est une stratégie idéale pour que votre entreprise, commerce, magasin, restaurant soit visible dans la page de résultats de recherche de Google. Optimiser sa page Google My Business ou Les Pages Jaunes permet d’occuper l’espace des résultats de recherche locale, d’avoir le maximum de visibilité possible sur Google ou Bing. Vingt Deux vous accompagne dans l’établissement de votre stratégie de référencement local afin d’être au plus proche de vos cibles lors de leur recherche. En tant qu’agence SEO à Clermont-Ferrand, nous pratiquons nous mêmes les meilleures stratégies SEO que nous recommandons ensuite à nos clients</p>   </div>
  
    
  

      <div class="col-lg-12 col-md-12 mt-3 mb-4 text-end">
  
        <a class="btn btn_modifier2 mt-3 mb-4" (click)="scrollToSection('form')"><b>Contact </b> <i class="fa-solid fa-plus ms-4"></i></a>
      </div>
  
      </div>
  </div>
  </div>
  
  
  
  
  
  
  
  
  
  
  <div class="" style="background:#000022; overflow: hidden">
  
  
    <div class="container">
      <div class="row mt-5 mb-5">
        <div class="col-lg-3 col-md-6 col-6 d-flex justify-content-center align-items-center">
          <div>
            <img src="assets/images/Budget.svg" class="img-fluid" style="height: 100px; width: 100px;">
            <h3 class="fw-bold mt-3">Approche globale SEO/SEA            </h3>
            <div class="text-white mt-3">
              <p>Votre stratégie sur les moteurs de recherche de A à Z.

              </p> </div>
  
          </div>
        </div>
  
  
  
        <div class="col-lg-3 col-md-6 col-6 d-flex justify-content-center align-items-center">
          <div>
            <img src="assets/images/adaptations.svg" class="img-fluid">
            <h3 class="fw-bold mt-3">Adaptations mensuelles            </h3>
            <div class="text-white mt-3">
              <p>Optimisation des performances tout au long de la prestation.
              </p> </div>
  
          </div>
        </div>
  
  
  
        <div class="col-lg-3 col-md-6 col-6 d-flex justify-content-center align-items-center">
          <div>
            <img src="assets/images/strategie.svg" class="img-fluid">
            <h3 class="fw-bold mt-3">Approche
              stratégique</h3>
            <div class="text-white mt-3">
              <p>Réflexion individuelle propre à vos enjeux business.</p> </div>
  
          </div>
        </div>
  
  
  
        <div class="col-lg-3 col-md-6 col-6 d-flex justify-content-center align-items-center">
          <div>
            <img src="assets/images/account-manager.svg" class="img-fluid">
            <h3 class="fw-bold mt-3">Account manager
              dédié</h3>
            <div class="text-white mt-3">
              <p>Contact permanent côté agence et reportings mensuels détaillés.</p> </div>
  
          </div>
        </div>
  
  
  
      </div>
    </div>
  </div>
  <div style="background: #000022; overflow: hidden">
  <section  style="background: #000022; color: white">
    <div class="row">
  
      <div class="col-lg-6">
  
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="./assets/images/Développement-Web-MFF.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="./assets/images/Développement-Web-Majam.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="./assets/images/Développement-Web-Token-it.png" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
  
      </div>
  
  
      <div class="col-lg-6 p-4 d-flex justify-content-center align-items-center">
        <div>
  
  
        <h1 class="mt-5"><strong>Positionnez-vous        </strong></h1>
  
  
  
        <p class="mt-4">En collaboration avec vous, nous ciblons les<span style="background: #1A71FD" class="fw-bold">leviers de croissance SEO</span>
            apportant les plus grosses business values pour votre entreprise.
           
        <div class="d-flex justify-content-start mt-5 ">
          <p class="mt-lg-0 mt-md-0 mt-1 number"  >+ 15 <br><span class="number_text" >marques <br>accompagnées</span></p>
          <p class="ms-lg-5 ms-md-4 ms-0 mt-lg-0 mt-md-0 mt-1 number" >  +
          +90%
            <br>
            <span class="number_text">
                des clics sont totalisés via la 1ère page
</span></p>
        </div>
        </div>
      </div>
    </div>
  
  
  
  
  
  
  
  
    <div class="container">
  
  
  
      <div class="row p-2">
        <h2 class="mt-5 text-start">Vos <b>référents</b><br>
          <b>référencement naturel

        </b> </h2>
  
        <div class="col-lg-6 col-md-6 mt-5">
  
          <img src="assets/images/Paul_03_03.png.webp" width="50%" class="img-fluid">
  
          <h4 class="mt-2">Paul Décombe</h4>
  
            <p>Directeur Adjoint · Traffic Manager</p>
          <div class="mt-2">
            <p>Avant de rejoindre Vingt Deux, Paul a collaboré avec la Fnac, Glisshop, M6 et le groupe Casino dans leur stratégie digitale. Aujourd’hui, il construit et pilote les stratégies d’acquisition des nos clients.</p> </div>
        </div>
        <div class="col-lg-6 col-md-6 mt-5">
  
          <img src="assets/images/Elie_03.png.webp" width="50%" class="img-fluid">
  
          <h4 class="mt-2">Elie Seyres</h4>
  
          <p>Digital Manager – Creative Designer</p>
          <div class="mt-2">
            <p>Expert en webdesign et tendances marché, Elie imagine et crée pour nos clients des publicités (créatives) exclusives qui mettent en valeur l’ADN des marques, tout en allant chercher des performances ROIstes.</p> </div>
  
        </div>
      </div>
  
  
  
  <section class="p-3 mt-5 mb-5">
      <div class="row  " style="border: 1px solid white ; box-shadow: 10px 20px 0px #1A71FD" >
  
        <div class="col-lg-6 col-md-6 mt-5">
  
          <p class="mb-4">« Excellente agence de communication ! Equipe professionnelle, qui connaît bien son métier, sympathique et à l’écoute du client. Nous avons effectué plusieurs prestations (Réseaux sociaux, ads, UX/UI…) et nous sommes ravis ! Bravo ! »</p>
  
  <img src="assets/images/majam-acqui.svg" class="img-fluid">
          <p class="mt-4">Facebook Ads · Instagram Ads · Pinterest Ads</p>
        </div>
        <div class="col-lg-6 col-md-6 mt-5">
  
          <p class="mb-3"> « De la stratégie, à la réalisation de notre site web, sans oublier le SAV et la réactivité de l’équipe ! L’Agence Vingt Deux est un pari gagnant, disponibilité, réactivité et créativité sont au rendez-vous. »</p>
          <img src="assets/images/my-foret-acqui.svg" class="img-fluid">
          <p class="mt-3" >Facebook Ads · Instagram Ads · Pinterest Ads</p>
  
        </div>
  
  
      </div>
  </section>
    </div>
  
  
  
  </section>
  
  
  
  
  
  
    <div class="row mt-5 mb-5">
      <div >
        <div class="tech-slideshow2 mt-5">
          <div class="d-flex mover-1 mt-5"><img src="assets/images/logo_1%20(1).svg" class="img-fluid mx-5"><img src="assets/images/logo_1%20(2).svg" class="img-fluid mx-5"><img src="assets/images/logo_1%20(3).svg" class="img-fluid mx-5"><img src="assets/images/logo_1%20(4).svg" class="img-fluid mx-5"><img src="assets/images/michelin-meta.svg" class="img-fluid mx-5"><img src="assets/images/logo_1%20(1).svg" class="img-fluid mx-5"><img src="assets/images/logo_1%20(2).svg" class="img-fluid mx-5"><img src="assets/images/logo_1%20(3).svg" class="img-fluid mx-5"><img src="assets/images/logo_1%20(4).svg" class="img-fluid mx-5"><img src="assets/images/michelin-meta.svg" class="img-fluid mx-5"></div>
          <div class="mover-2"> </div>
        </div>      </div>
    </div>
  
  
  
  <section class="mt-5"   style="background: #000022; color: white">
    <div class="image-container2">
  
      <img src="assets/images/Sticker-02.svg" class="sticker2" >
    </div>
    <div class="container">
      <div class="image-container">
  
        <img src="assets/images/Team-Vingt-Deux-2022.png" class="img-fluid" style="border-radius: 15px">
        <img src="assets/images/Sticker-01.svg" class="sticker" >
      </div>
  
  
  
      <div class="row mt-5">
        <div class="col-lg-6 p-3 order-lg-1 order-1">
          <h3 class="mt-5">CONTACTEZ-NOUS
            <br><br>
            <b>Besoin d'un <br> accompagnement ?</b></h3>
          <hr>
          <p class="mt-5">Échangeons sur votre projet et créons votre accompagnement sur mesure.
            <br><br><br>
            04 44 05 00 22
            <br><br><br>
            hello@vingtdeux.fr
  
  
          </p>
  
          <h3><b>5/5</b> <i class="fa-solid fa-star text-warning"></i>
            <i class="fa-solid fa-star text-warning"></i>
            <i class="fa-solid fa-star text-warning"></i>
            <i class="fa-solid fa-star text-warning"></i>
            <i class="fa-solid fa-star text-warning"></i></h3>
          <p>Avis Google</p>
  
        </div>
        <div class="col-lg-6 bg-white order-lg-2 order-2 mb-5  " style="border-radius: 15px">
          <div class="text-dark p-3">
            <h1> Nous Contacter</h1>
            <p>Les champs marqués d’un * sont obligatoires   </p>
            <form id="form" >
              <div class="form-group">
                <label for="prenom">Prénom *</label>
                <input type="text" class="form-control" id="prenom" required>
              </div>
              <div class="form-group">
                <label for="nom">Nom *</label>
                <input type="text" class="form-control" id="nom" required>
              </div>
              <div class="form-group">
                <label for="entreprise">Entreprise *</label>
                <input type="text" class="form-control" id="entreprise" required>
              </div>
              <div class="form-group">
                <label for="email">E-mail *</label>
                <input type="email" class="form-control" id="email" required>
              </div>
              <div class="form-group">
                <label for="telephone">Téléphone *</label>
                <input type="tel" class="form-control" id="telephone" required>
              </div>
              <div class="form-group">
                <label for="besoin">Quel est votre besoin ? *</label>
                <textarea class="form-control" id="besoin" rows="3" required></textarea>
              </div>
              <button type="submit" class="btn btn-dark mt-4 mb-4">Envoyer</button>
            </form>
          </div>
        </div>
  
  
  
  
      </div>
  
  
  
  
  
    </div>
  
  
  
  
  
  
  
  </section>
  </div>
  