<div class="" style="background:#005792; overflow: hidden">

  <div class="row">


    <div class="col-lg-2 col-md-2">


    </div>
    <div class="col-lg-8 col-md-8 text-center mt-lg-5 mt-md-5 mt-0 mb-2 text-white">
      <h1 style="margin-top:100px; margin-left: 30px; margin-right: 30px;"><b>Générez des ventes</b> et <b>multipliez
        vos leads</b> avec des <b>coûts d'acquisition optimisés</b> grâce
        à une stratégie digitale <b>sur mesure</b></h1>

      <a class="btn btn_modifier mt-4 " (click)="scrollToSection('form')"><b>Contact</b> <i class="fa-solid fa-plus ms-4"></i></a>


    </div>
  </div>
<div class="row">
  <div >
    <div class="tech-slideshow mt-5">
      <div class="d-flex mover-1 mt-5"><span class="mx-5 testanimation">Google</span><span class="mx-5 testanimation">Facebook</span><span class="mx-5 testanimation">Instagram</span><span class="mx-5 testanimation">Tiktok</span><span class="mx-5 testanimation">Pinterest</span><span class="mx-5 testanimation">Linkedin</span><span class="mx-5 testanimation">Google</span><span class="mx-5 testanimation">Facebook</span><span class="mx-5 testanimation">Instagram</span><span class="mx-5 testanimation">Tiktok</span><span class="mx-5 testanimation">Pinterest</span><span class="mx-5 testanimation">Linkedin</span> </div>
      <div class="mover-2"> </div>
    </div>      </div>
  </div>

</div>
<div class="" style="background:#010163; overflow: hidden">

  <div class="row">


    <div class="col-lg-3 col-md-2 col-1">


    </div>
    <div class="col-lg-6 col-md-8  col-10 text-center mt-5 mb-2 text-white">
      <h2 class="">Ayez une<br><b>
        longueur d’avance</b></h2>

      <p class="text-center">Au sein de l'agence digitale Vingt Deux nous pensons que la communication doit être pensée dans une optique de croissance et d’efficacité. Une bonne stratégie de communication c’est aussi une <span style="background:#005792; font-weight: bold">bonne compréhension</span> de ce qui fait que vous êtes vous. Nos 10 experts métiers sauront saisir votre ADN de marque.</p>

    </div>
  </div>
  <div class="container">
  <div class="row mt-3 mb-5">
    <div class="col-lg-3 col-md-6 col-6 ">
<div>
<img src="assets/images/transparence.svg" class="img-fluid">
      <h3 class="fw-bold mt-3">Transparence</h3>
      <div class="text-white mt-3">
        <p>Notre objectif : propulser votre acquisition.</p> </div>

</div>
    </div>



    <div class="col-lg-3 col-md-6 col-6">
      <div>
        <img src="assets/images/gain-de-temps.svg" class="img-fluid">
        <h3 class="fw-bold mt-3">Gain de temps</h3>
        <div class="text-white mt-3">
          <p>Confiez-nous la gestion complète de votre stratégie et bénéficiez de reportings réguliers.</p> </div>

      </div>
    </div>



    <div class="col-lg-3 col-md-6 col-6">
      <div>
        <img src="assets/images/maitrise-totale.svg" class="img-fluid">
        <h3 class="fw-bold mt-3">Maîtrise totale</h3>
        <div class="text-white mt-3">
          <p>Visuels, campagnes, audiences : tout ce que nous créons pour vous vous appartient.</p> </div>

      </div>
    </div>



    <div class="col-lg-3 col-md-6 col-6">
      <div>
        <img src="assets/images/sur-mesure.svg" class="img-fluid">
        <h3 class="fw-bold mt-3">Sur mesure</h3>
        <div class="text-white mt-3">
          <p>Gestion multicanale et productions sur mesure selon vos besoins précis.</p> </div>

      </div>
    </div>



  </div>
</div>
</div>


<div class="" style="background:#005792; overflow: hidden">
<div class="container">
  <div class="row text-white" >

    <h2 class="text-white mt-5 text-start"><b>Offres</b><br>
      d'acquisition</h2>

    <div class="col-lg-6 col-md-6 col-6 mt-5 mb-4">

      <h3 class="fw-bold">Google Ads / SEA</h3>
      <p class="mt-3">Ciblez des besoins utilisateurs en vous positionnant sur des requêtes précises. Nous identifions les occurrences les plus cherchées pour créer des annonces pertinentes et convertir vos prospects en clients.</p>
    </div>

    <div class="col-lg-6 col-md-6 col-6 mt-5 mb-4">

      <h3 class="fw-bold">Facebook Ads</h3>
      <p class="mt-3">Augmentez votre trafic, votre notoriété et vos conversions grâce à de nombreux formats visuels (carrousels, images, vidéos) affichés à des audiences ayant une véritable business value.</p>    </div>


    <div class="col-lg-6 col-md-6 col-6 mt-5 mb-4">

      <h3 class="fw-bold">Instagram Ads</h3>
      <p class="mt-3">Boostez vos publications et promouvez des campagnes de publicités à part entière grâce à la régie publicitaire Instagram Ads pour générer des ventes et/ou faire grossir votre communauté.</p> </div>


    <div class="col-lg-6 col-md-6 col-6 mt-5 mb-4">

      <h3 class="fw-bold">TikTok Ads</h3>
      <p class="mt-3">Décuplez votre visibilité sur un public plus large grâce à une véritable stratégie d’acquisition à part entière pour TikTok. Faites profiter votre marque de la montée en puissance du réseau.</p> </div>


    <div class="col-lg-6 col-md-6 col-6 mt-5 mb-4">

      <h3 class="fw-bold">Pinterest Ads</h3>
      <p class="mt-3">Valorisez intelligemment vos produits ou services sur une audience CSP+ avec des épingles efficaces et des formats publicitaires variés sur un incontournable du placement publicitaire.</p>   </div>

    <div class="col-lg-6 col-md-6 col-6 mt-5 mb-4">

      <h3 class="fw-bold">Twitter Ads</h3>
      <p class="mt-3">Générez du trafic qualifié vers votre site internet et développez votre app ou votre marque grâce à des messages efficaces et un ciblage d’audience pertinent.</p> </div>

    <div class="col-lg-6 col-md-6 col-6 mt-5 mb-4">

      <h3 class="fw-bold">Linkedin Ads</h3>
      <p class="mt-3">Communiquez auprès de professionnels grâce à un ciblage riche et récupérez des informations pertinentes sur votre audience grâce aux bases de données avancées LinkedIn.</p>
    </div>
    <div class="col-lg-6 col-md-6 col-6 mt-5 mb-4">

      <h3 class="fw-bold">YouTube Ads</h3>
      <p class="mt-3"> Diffusez un message impactant auprès de vos prospects grâce à des campagnes vidéos pre-roll qualitatives et une stratégie de diffusion adaptée à vos objectifs.</p> </div>

    <div class="col-lg-12 col-md-12 mt-3 mb-4 text-end">

      <a class="btn btn_modifier2 mt-3 mb-4" (click)="scrollToSection('form')"><b>Devis personnalisé </b> <i class="fa-solid fa-plus ms-4"></i></a>
    </div>

    </div>
</div>
</div>










<div class="" style="background:#010163; overflow: hidden">


  <div class="container">
    <div class="row mt-5 mb-5">
      <div class="col-lg-3 col-md-6 col-6 d-flex justify-content-center align-items-center">
        <div>
          <img src="assets/images/setup.svg" class="img-fluid">
          <h3 class="fw-bold mt-3">Setup, audiences, créas : tout inclus</h3>
          <div class="text-white mt-3">
            <p>Votre stratégie acquisition multicanale de A à Z.</p> </div>

        </div>
      </div>



      <div class="col-lg-3 col-md-6 col-6 d-flex justify-content-center align-items-center">
        <div>
          <img src="assets/images/adaptations.svg" class="img-fluid">
          <h3 class="fw-bold mt-3">Adaptations hebdomadaire</h3>
          <div class="text-white mt-3">
            <p>Optimisation des performances tout au long de la prestation.</p> </div>

        </div>
      </div>



      <div class="col-lg-3 col-md-6 col-6 d-flex justify-content-center align-items-center">
        <div>
          <img src="assets/images/strategie.svg" class="img-fluid">
          <h3 class="fw-bold mt-3">Approche
            stratégique</h3>
          <div class="text-white mt-3">
            <p>Réflexion individuelle propre à chaque besoin et canal.</p> </div>

        </div>
      </div>



      <div class="col-lg-3 col-md-6 col-6 d-flex justify-content-center align-items-center">
        <div>
          <img src="assets/images/account-manager.svg" class="img-fluid">
          <h3 class="fw-bold mt-3">Account manager
            dédié</h3>
          <div class="text-white mt-3">
            <p>Contact permanent côté agence et reportings mensuels détaillés.</p> </div>

        </div>
      </div>



    </div>
  </div>
</div>
<div style="background: #010163; overflow: hidden">
<section  style="background: #010163; color: white">
  <div class="row">

    <div class="col-lg-6">

      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./assets/images/Acqui-IDAE.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="./assets/images/Acqui-Faux-Culte.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="./assets/images/Acqui-Durix.png" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>


    <div class="col-lg-6 p-4 d-flex justify-content-center align-items-center">
      <div>


      <h1 class="mt-5"><strong>Démarquez-vous</strong></h1>



      <p class="mt-4">Nous optimisons vos investissements publicitaires pour atteindre le meilleur ROI possible. Nous ciblons les <span style="background: #005792" class="fw-bold">leviers de croissance</span> apportant les plus grosses business values pour votre marque</p>
      <div class="d-flex justify-content-start mt-5 ">
        <p class="mt-lg-0 mt-md-0 mt-1 number"  >+ 50 <br><span class="number_text" >marques <br>accompagnées</span></p>
        <p class="ms-lg-5 ms-md-4 ms-0 mt-lg-0 mt-md-0 mt-1 number" >  +
        700
          <br>
          <span class="number_text">
            publicités créées <br> pour nos clients</span></p>
      </div>
      </div>
    </div>
  </div>








  <div class="container">



    <div class="row p-2">
      <h2 class="mt-5 text-start">Vos <b>référents</b><br>
        <b>acquisition</b></h2>

      <div class="col-lg-6 col-md-6 mt-5">

        <img src="assets/images/Paul_03_03.png.webp" width="50%" class="img-fluid">

        <h4 class="mt-2">Paul Décombe</h4>

          <p>Directeur Adjoint · Traffic Manager</p>
        <div class="mt-2">
          <p>Avant de rejoindre Vingt Deux, Paul a collaboré avec la Fnac, Glisshop, M6 et le groupe Casino dans leur stratégie digitale. Aujourd’hui, il construit et pilote les stratégies d’acquisition des nos clients.</p> </div>
      </div>
      <div class="col-lg-6 col-md-6 mt-5">

        <img src="assets/images/Elie_03.png.webp" width="50%" class="img-fluid">

        <h4 class="mt-2">Elie Seyres</h4>

        <p>Digital Manager – Creative Designer</p>
        <div class="mt-2">
          <p>Expert en webdesign et tendances marché, Elie imagine et crée pour nos clients des publicités (créatives) exclusives qui mettent en valeur l’ADN des marques, tout en allant chercher des performances ROIstes.</p> </div>

      </div>
    </div>



<section class="p-3 mt-5 mb-5">
    <div class="row  " style="border: 1px solid white ; box-shadow: 10px 20px 0px #005792" >

      <div class="col-lg-6 col-md-6 mt-5">

        <p class="mb-4">« Excellente agence de communication ! Equipe professionnelle, qui connaît bien son métier, sympathique et à l’écoute du client. Nous avons effectué plusieurs prestations (Réseaux sociaux, ads, UX/UI…) et nous sommes ravis ! Bravo ! »</p>

<img src="assets/images/majam-acqui.svg" class="img-fluid">
        <p class="mt-4">Facebook Ads · Instagram Ads · Pinterest Ads</p>
      </div>
      <div class="col-lg-6 col-md-6 mt-5">

        <p class="mb-3"> « De la stratégie, à la réalisation de notre site web, sans oublier le SAV et la réactivité de l’équipe ! L’Agence Vingt Deux est un pari gagnant, disponibilité, réactivité et créativité sont au rendez-vous. »</p>
        <img src="assets/images/my-foret-acqui.svg" class="img-fluid">
        <p class="mt-3" >Facebook Ads · Instagram Ads · Pinterest Ads</p>

      </div>


    </div>
</section>
  </div>



</section>






  <div class="row mt-5 mb-5">
    <div >
      <div class="tech-slideshow2 mt-5">
        <div class="d-flex mover-1 mt-5"><img src="assets/images/logo_1%20(1).svg" class="img-fluid mx-5"><img src="assets/images/logo_1%20(2).svg" class="img-fluid mx-5"><img src="assets/images/logo_1%20(3).svg" class="img-fluid mx-5"><img src="assets/images/logo_1%20(4).svg" class="img-fluid mx-5"><img src="assets/images/michelin-meta.svg" class="img-fluid mx-5"><img src="assets/images/logo_1%20(1).svg" class="img-fluid mx-5"><img src="assets/images/logo_1%20(2).svg" class="img-fluid mx-5"><img src="assets/images/logo_1%20(3).svg" class="img-fluid mx-5"><img src="assets/images/logo_1%20(4).svg" class="img-fluid mx-5"><img src="assets/images/michelin-meta.svg" class="img-fluid mx-5"></div>
        <div class="mover-2"> </div>
      </div>      </div>
  </div>



<section class="mt-5"   style="background: #010163; color: white">
  <div class="image-container2">

    <img src="assets/images/Sticker-02.svg" class="sticker2" >
  </div>
  <div class="container">
    <div class="image-container">

      <img src="assets/images/Team-Vingt-Deux-2022.png" class="img-fluid" style="border-radius: 15px">
      <img src="assets/images/Sticker-01.svg" class="sticker" >
    </div>



    <div class="row mt-5">
      <div class="col-lg-6 p-3 order-lg-1 order-1">
        <h3 class="mt-5">CONTACTEZ-NOUS
          <br><br>
          <b>Besoin d'un <br> accompagnement ?</b></h3>
        <hr>
        <p class="mt-5">Échangeons sur votre projet et créons votre accompagnement sur mesure.
          <br><br><br>
          04 44 05 00 22
          <br><br><br>
          hello@vingtdeux.fr


        </p>

        <h3><b>5/5</b> <i class="fa-solid fa-star text-warning"></i>
          <i class="fa-solid fa-star text-warning"></i>
          <i class="fa-solid fa-star text-warning"></i>
          <i class="fa-solid fa-star text-warning"></i>
          <i class="fa-solid fa-star text-warning"></i></h3>
        <p>Avis Google</p>

      </div>
      <div class="col-lg-6 bg-white order-lg-2 order-2 mb-5  " style="border-radius: 15px">
        <div class="text-dark p-3">
          <h1> Nous Contacter</h1>
          <p>Les champs marqués d’un * sont obligatoires   </p>
          <form id="form" >
            <div class="form-group">
              <label for="prenom">Prénom *</label>
              <input type="text" class="form-control" id="prenom" required>
            </div>
            <div class="form-group">
              <label for="nom">Nom *</label>
              <input type="text" class="form-control" id="nom" required>
            </div>
            <div class="form-group">
              <label for="entreprise">Entreprise *</label>
              <input type="text" class="form-control" id="entreprise" required>
            </div>
            <div class="form-group">
              <label for="email">E-mail *</label>
              <input type="email" class="form-control" id="email" required>
            </div>
            <div class="form-group">
              <label for="telephone">Téléphone *</label>
              <input type="tel" class="form-control" id="telephone" required>
            </div>
            <div class="form-group">
              <label for="besoin">Quel est votre besoin ? *</label>
              <textarea class="form-control" id="besoin" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-dark mt-4 mb-4">Envoyer</button>
          </form>
        </div>
      </div>




    </div>





  </div>







</section>
</div>
