
<div class="text-white" style="overflow: hidden;background-color: black;">

    <div class="container">
        <div class="row " id="animated-row" style="margin-top: 80px;">
<div class="col-lg-2"></div>
            <div *ngIf="language == 'fr'" class="col-lg-8  text-center" id="header_home" >
<h1 class="fw-bold text_header"  >Agence web3 : stratégie, design, marketing – NFT &amp; Metaverse</h1>
              <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10 p-lg-0 p-4">
<p class="mt-lg-3 mt-1 p-lg-4 fw-medium" style="text-align: center">Depuis 2017, nous accompagnons les entreprises, les marques et les créateurs dans leur stratégie marketing et communication sur le Web 3. Nous vous aidons à propulser votre image dans cet univers en constante évolution et à vous démarquer sur votre marché. Contactez-nous dès maintenant pour découvrir comment nous pouvons vous aider à réussir dans l'industrie du Web 3.</p>
</div></div>
  <a  class="btn btn_modifier " (click)="scrollToSection('form')">Contact <i class="fa-solid fa-plus ms-4"></i></a>


</div>

<div *ngIf="language == 'en'" class="col-lg-8  text-center" id="header_home" >
  <h1 class="fw-bold text_header"  >Agence web3 : strategy, design, marketing - NFT & Metaverse</h1>
                <div class="row">
                  <div class="col-lg-1"></div>
                  <div class="col-lg-10 ">
  <p class="mt-lg-3 mt-1 p-lg-4 fw-medium" style="text-align: center">Since 2017, we've been helping companies, brands and creators with their Web 3 marketing and communications strategy, helping you propel your image in this constantly evolving universe and stand out in your market. Contact us today to find out how we can help you succeed in the Web 3 industry.</p>
  </div></div>
    <a  class="btn btn_modifier " (click)="scrollToSection('form')">Contact <i class="fa-solid fa-plus ms-4"></i></a>
  
  
  </div>



          <div class="animation">
            <div class="shape circle" style="animation: circle-animation 20s infinite;">
              <svg height="100" width="100">
                <circle cx="50" cy="50" r="50" fill="transparent" stroke="white" />
              </svg>
            </div>

            <div class="shape circle" style="animation: circle-animation 20s infinite; animation-delay: 2s;">
              <svg height="150" width="150">
                <circle cx="75" cy="75" r="75" fill="transparent" stroke="white" />
              </svg>
            </div>

            <div class="shape circle" style="animation: circle-animation 20s infinite; animation-delay: 4s;">
              <svg height="200" width="200">
                <circle cx="100" cy="100" r="100" fill="transparent" stroke="white" />
              </svg>
            </div>

            <div class="shape square" style="animation: square-animation 20s infinite; animation-delay: 6s;">
              <svg height="100" width="100">
                <rect width="100" height="100" fill="transparent" stroke="white" />
              </svg>
            </div>

            <div class="shape square" style="animation: square-animation 20s infinite; animation-delay: 8s;">
              <svg height="150" width="150">
                <rect width="150" height="150" fill="transparent" stroke="white" />
              </svg>
            </div>

            <div class="shape square" style="animation: square-animation 20s infinite; animation-delay: 10s;">
              <svg height="200" width="200">
                <rect width="200" height="200" fill="transparent" stroke="white" />
              </svg>
            </div>

            <div class="shape triangle" style="animation: triangle-animation 20s infinite; animation-delay: 12s;">
              <svg height="151" width="150">
                <path d="m0 150 h150 l -75 -150 z" fill="transparent" stroke="white" />
              </svg>
            </div>

            <div class="shape triangle" style="animation: triangle-animation 20s infinite; animation-delay: 14s;">
              <svg height="226" width="225">
                <path d="m0 225 h225 l-113 -225 z" fill="transparent" stroke="white" />
              </svg>
            </div>

            <div class="shape triangle" style="animation: triangle-animation 20s infinite; animation-delay: 16s;">
              <svg height="301" width="300">
                <path d="m0 300 h300 l-150 -300 z" fill="transparent" stroke="white" />
              </svg>
            </div>
          </div>

        </div>






<div class="row mt-2">


<div class="col-lg-6 mt-5">

    <h2 *ngIf="language == 'fr'" class="text_header_2"><b>Nous accompagnons</b><br>
        des clients dans l’univers web3/crypto/NFT
        <br><b>depuis 2017</b></h2>
        <h2 *ngIf="language == 'en'" class="text_header_2"><b>We've been supporting</b><br>
          customers in the web3/crypto/NFT universe 
          <br><b>since 2017</b></h2>

</div>

</div>

<div class="row mt-5">


    <div class="col-lg-2 col-md-6 col-6">

        <img src="./assets/images/logo-axa.svg" class="img-fluid">


    </div>
    <div class="col-lg-2 col-md-6  col-6">
        <img src="./assets/images/logo-euronext.svg" class="img-fluid">



    </div>
    <div class="col-lg-2 col-md-6  col-6">

        <img src="./assets/images/le-village-meta.svg" class="img-fluid">


    </div>
    <div class="col-lg-2 col-md-6  col-6">

        <img src="./assets/images/fantasy-gp-meta.svg" class="img-fluid">


    </div>
    <div class="col-lg-2 col-md-6  col-6">
        <img src="./assets/images/mafiafoot-meta.svg" class="img-fluid">



    </div>
    <div class="col-lg-2 col-md-6  col-6">

        <img src="./assets/images/logo-token-it.svg" class="img-fluid">


    </div>




    </div>



    </div>

<video id="video1" width="100%" preload="auto"  src="./assets/images/Univers-Le-Village.mp4" autoplay="" loop="" muted="muted" playsinline="" controlslist="nodownload"></video>

<video id="video2" width="100%" preload="auto" src="./assets/images/AXADIA-Meta.mp4" autoplay="" loop="" muted="muted" playsinline="" controlslist="nodownload"></video>
<video id="video3" width="100%"  preload="auto"src="./assets/images/Univers-Token-it.mp4" autoplay="" loop="" muted="muted" playsinline="" controlslist="nodownload"></video>
<video id="video4" width="100%" preload="auto" src="./assets/images/Univers-MFF.mp4" autoplay="" loop="" muted="muted" playsinline="" controlslist="nodownload"></video>


<div class="container">

<div class="row mt-5">
<div *ngIf="language == 'fr'" class="col-lg-6 col-md-6 mt-5 ">

    <h2  style="   font-family: 'Naoko'" >Entrez dans le <b>Web3, créez un NFT</b>, développez-vous dans le <b>métaverse</b> et <b>communiquez</b>,<br>
        tout simplement.</h2>

        <p class="mt-3"  style="   font-family: 'pangram'" >Vous souhaitez déployer votre marque sur le metaverse ? Créer votre collection de NFT ? Vingt Deux est <span>l’agence metaverse &amp; NFT</span> spécialisée dans la création et la gestion de votre campagne de création de NFT et des stratégies de marque sur le metaverse.</p>
        <p class="mt-3"  style="   font-family: 'pangram'">Notre studio interne dédié aux NFT et au metaverse accompagne les entreprises, les marques et les influenceurs dans leur stratégie NFT, leur stratégie metaverse, la création de leur collection de NFT et leur promotion sur ce nouveau média. <span>Soyez précurseur</span>, faites entrer votre marque dans le Metaverse avec Vingt Deux !</p>
        <a class="btn btn_modifier mt-3 "  (click)="scrollToSection('form')" style="   font-family: 'pangram'">Contact <i class="fa-solid fa-plus ms-4"></i></a>

    </div>

    <div *ngIf="language == 'en'" class="col-lg-6 col-md-6 mt-5 ">

      <h2  style="   font-family: 'Naoko'" >Enter <b>Web3, create an NFT</b>, expand into the <b>metaverse</b> and <b>communicate</b>,<br>
        quite simply.</h2>
  
          <p class="mt-3"  style="   font-family: 'pangram'" >Want to deploy your brand on the metaverse? Create your NFT collection? Vingt Deux est <span>l’agence metaverse &amp; NFT</span> spécialisée dans la création et la gestion de votre campagne de création de NFT et des stratégies de marque sur le metaverse.</p>
          <p class="mt-3"  style="   font-family: 'pangram'">Our in-house studio dedicated to NFT and the metaverse supports companies, brands and influencers in their NFT strategy, their metaverse strategy, the creation of their NFT collection and their promotion on this new medium. <span>Be a pioneer</span>, bring your brand into the Metaverse with Vingt Deux!</p>
          <a class="btn btn_modifier mt-3 "  (click)="scrollToSection('form')" style="   font-family: 'pangram'">Contact <i class="fa-solid fa-plus ms-4"></i></a>
  
      </div>

<div class="col-lg-6 col-md-6 mt-5 ">
    <div class="video-container">
      <video muted="muted" src="./assets/images/Fond-Meta-01-Glitch.mp4" id="video5" preload="auto" autoplay="autoplay" loop="loop"  playsinline="playsinline" controlslist="nodownload"></video>
      <img src="./assets/images/shape-1-meta.svg" class="img-fluid" />
    </div>
  </div>

</div>

<div class="row mt-5">
    <div class="col-lg-6">



    </div>
    <div class="col-lg-6">

        <h2 *ngIf="language == 'fr'" class="" style="   font-family: 'Naoko'" > <b>L'agence Vingt Deux</b>,<br> déjà dans le Metaverse</h2>
        <h2 *ngIf="language == 'en'" class="" style="   font-family: 'Naoko'" > <b>Vingt Deux agency</b>,<br> already in the Metaverse</h2>
    </div>
</div>






</div>
<video class="mt-5" src="./assets/images/Team-Meta-2022.mp4" id="video6" preload="auto" autoplay loop muted="muted" playsinline controlslist="nodownload"></video>



<div class="container">
<div class="row mt-5">
<div  class="col-lg-4 Col1 ">
<h3 *ngIf="language == 'fr'" class="mt-3">Conseil et stratégie</h3>
<h3 *ngIf="language == 'en'" class="mt-3">Consulting and strategy</h3>

<p *ngIf="language == 'fr'" class="mt-4 mb-3" style="text-align: justify;">Nous accompagnons votre marque dans son évolution numérique vers le web 3.0.<br>Nous imaginons des stratégies de développement sur le metaverse pour le succès commercial de votre projet.</p>
<p *ngIf="language == 'en'" class="mt-4 mb-3" style="text-align: justify;">We support your brand in its digital evolution towards web 3.0.<br>We devise development strategies on the metaverse to ensure the commercial success of your project.</p>

</div>
<div class="col-lg-4 Col2">
    <h3 class="mt-3">Digital marketing</h3>
    <p *ngIf="language == 'fr'" class="mt-4 mb-3" style="text-align: justify;">Nous mettons en lumière votre projet NFT et metaverse.<br>Nous concevons des campagnes digitales de précision pour atteindre vos objectifs.</p>
    <p *ngIf="language == 'en'" class="mt-4 mb-3" style="text-align: justify;">We put the spotlight on your NFT and metaverse project.<br>We design precision digital campaigns to achieve your goals.</p>
  
  </div>
    <div class="col-lg-4 Col3">
        <h3 *ngIf="language == 'fr'" class="mt-3">Design graphique</h3>
        <h3 *ngIf="language == 'en'" class="mt-3">Graphic design</h3>

        <p *ngIf="language == 'fr'" class="mt-4 mb-3" style="text-align: justify;">Notre studio donne vie aux univers issus de votre imagination.<br>Nous créons vos NFT, votre land & vos assets visuels de la direction artistique de la série à la réalisation des visuels.</p>
        <p *ngIf="language == 'en'" class="mt-4 mb-3" style="text-align: justify;">Our studio brings to life the worlds of your imagination.<br>We create your NFT, your land & your visual assets from the artistic direction of the series to the realization of the visuals.</p>
  
      </div>
<hr>

<div class="col-lg-4 Col4">
    <h3 *ngIf="language == 'fr'" class="mt-3">Développement web et smart contract</h3>
    <h3 *ngIf="language == 'en'" class="mt-3">Web development and smart contracts</h3>

    <p *ngIf="language == 'fr'" class="mt-4 mb-3" style="text-align: justify;">Nos experts blockchain développent le contrat intelligent sur la blockchain appropriée permettant de frapper (mint) vos NFT. Nous vous apportons notre expertise dans le choix des technologies les plus adaptées à vos besoins et à la scalabilité de votre projet.</p>
    
    <p *ngIf="language == 'en'" class="mt-4 mb-3" style="text-align: justify;">Our blockchain experts develop the smart contract on the appropriate blockchain to mint your NFTs. We provide you with our expertise in choosing the technologies best suited to your needs and the scalability of your project.</p>
  </div>
    <div class="col-lg-4 Col5">
        <h3 *ngIf="language == 'fr'" class="mt-3">Animations et vidéos</h3>
        <h3 *ngIf="language == 'en'" class="mt-3">Animations and videos</h3>

        <p *ngIf="language == 'fr'" class="mt-4 mb-3" style="text-align: justify;">Nous accompagnons votre marque dans son évolution numérique vers le web 3.0.<br>Nous imaginons des stratégies de développement sur le metaverse pour le succès commercial de votre projet.</p>
        
        <p *ngIf="language == 'en'" class="mt-4 mb-3" style="text-align: justify;">A key factor in the success of your project, our audiovisual production team brings to life, animates and produces media to promote your project. Trailers, motion design and animations.</p>
      </div>
        <div class="col-lg-4 Col6">
            <h3 *ngIf="language == 'fr'"  class="mt-3">Espaces et événements</h3>
            <h3 *ngIf="language == 'en'"  class="mt-3">Spaces and events</h3>

            <p *ngIf="language == 'fr'" class="mt-4 mb-3" style="text-align: justify;">Nous accompagnons votre marque dans son évolution numérique vers le web 3.0.<br>Nous imaginons des stratégies de développement sur le metaverse pour le succès commercial de votre projet.</p>
            <p *ngIf="language == 'en'" class="mt-4 mb-3" style="text-align: justify;">We create tailor-made events to promote your project, whether IRL or in the metaverse.</p>
  
          </div>

</div>



<div class="row mt-5">

    <div class="col-lg-6 col-md-6 mt-4 mb-5 " id="vidpos">
        <div class="video-container2">
          <video muted="muted" src="./assets/images/Fond-Meta-02-Glitch.mp4" id="video7"   preload="auto" autoplay="autoplay" loop="loop"  playsinline="playsinline" controlslist="nodownload"></video>
          <img src="./assets/images/shape-2-meta.svg" class="img-fluid" />
        </div>
      </div>
    <div class="col-lg-6 col-md-6 mt-5 ">

        <h2 *ngIf="language == 'fr'" ><b>Notre studio interne dédié
            au web 3.0</b> vous accompagne dans votre stratégie NFT, metaverse</h2>
            <h2 *ngIf="language == 'en'" ><b>Our in-house studio dedicated to web 3.0 </b> supports you in your NFT strategy, metaverse</h2>
               <p >Our agency supports <span >metaverse and NFT projects</span> whether you're a brand looking to communicate on the Metaverse or an NFT creator looking to promote your project.</p>





<div class="slide " >
               <div class="sidebar" style="border-left: 1px solid white">
                <div class="title" onclick="toggleDescription(8)"><strong *ngIf="language == 'fr'">Stratégie et conseil Métaverse et NFT</strong><strong *ngIf="language == 'en'">Strategy and consulting Metaverse and NFT</strong></div>
                 <div class="arrow8"></div>
                 <div class="arr" ></div>

                 <div class="description" id="description8"><p *ngIf="language == 'fr'">Nous accompagnons les marques, les influenceurs et le créateurs dans le choix de la meilleure stratégie metaverse à adopter afin d’aborder ce nouveau territoire d’expression de façon efficace et pragmatique. Nous les accompagnons également dans la stratégie et la création de collections NFT adaptées et ciblées.</p>
                  <p *ngIf="language == 'en'">We support brands, influencers and designers in choosing the best metaverse strategy to tackle this new territory of expression effectively and pragmatically. We also support them in the strategy and creation of appropriate, targeted NFT collections.</p>
                </div>
                 <hr>
                <div class="title" onclick="toggleDescription(9)"><strong *ngIf="language == 'fr'">Promotion de votre collection NFT</strong><strong *ngIf="language == 'en'">Promote your NFT collection</strong></div>

                 <div class="arrow9"></div>

                 <div class="description" id="description9"><p *ngIf="language == 'fr'">Nous vous accompagnons dans la mise en place du plan de promotion de votre collection de NFT afin de lui donner la meilleure visibilité et le meilleur ROI possibles. Nous vous aidons également à mettre en avant vos NFT dans votre stratégie de communication.</p>
                  <p *ngIf="language == 'en'">We'll help you set up a promotional plan for your NFT collection, to give it the best possible visibility and ROI. We can also help you highlight your NFTs in your communication strategy.</p>
                </div>
                 <hr>
                <div class="title" onclick="toggleDescription(10)"><strong *ngIf="language == 'fr'">Création de NFT et déploiement d’univers de marque sur le Metaverse</strong><strong *ngIf="language == 'en'">Creation of NFT and deployment of brand universes on the Metaverse</strong></div>
                 <div class="arrow10"></div>

                 <div class="description" id="description10"><p *ngIf="language == 'fr'">Nous vous accompagnons dans la création complète de votre série de NFT : nous déterminons ensemble les règles que vous voulez mettre en place sur votre projet (caractéristiques variables visuelles…), nous créons visuellement votre collection, nous développons la landing page sur laquelle vous souhaitez vendre vos NFT, et nous réalisons le mint de votre NFT (nous frappons votre NFT et lui donnons vie sur une blockchain).</p>
                  <p *ngIf="language == 'en'">We support you in the complete creation of your NFT series: we determine together the rules you want to implement on your project (variable visual characteristics...), we visually create your collection, we develop the landing page on which you want to sell your NFTs, and we create the mint of your NFT (we mint your NFT and give it life on a blockchain).</p>
                </div>
                 <hr>
                <div class="title" onclick="toggleDescription(11)"><strong>Workshop Web 3.0</strong></div>
                 <div class="arrow11"></div>

                 <div class="description" id="description11"><p *ngIf="language == 'fr'">Notre équipe Web 3.0 créer un atelier d’idéation sur mesure afin de vous aider à analyser l’impact que le Web 3.0 peut avoir sur votre entreprise. C’est lors de ce workshop dédié au Web 3.0 que notre équipe vous aide à identifier l’opportunité la plus interessante pour votre business. </p>
                  <p *ngIf="language == 'en'">Our Web 3.0 team creates a customized ideation workshop to help you analyze the impact Web 3.0 can have on your business. It's during this workshop dedicated to Web 3.0 that our team helps you identify the most interesting opportunity for your business. </p>
                </div>
                 <hr>
                <div class="title" onclick="toggleDescription(12)"><strong *ngIf="language == 'fr'">Formation Web 3.0</strong><strong *ngIf="language == 'en'">Web 3.0 training</strong></div>
                 <div class="arrow12"></div>

                 <div class="description" id="description12"><p *ngIf="language == 'fr'">L’équipe stratégique de notre studio Web 3.0 vous accompagne avec vos équipes dans l’acculturation aux technologies blockchain, vous pourrez ainsi mieux saisir le contexte dans lequel s’inscrit cette évolution technologique majeure. 

                  Ce changement technologique comporte beaucoup de notions telles que DAO, blockchain, cryptomonnaie, Play2Earn, NFT… 
                  
                  Notre formation Web 3.0 vous permet d’appréhender ces concepts clés afin d’identifier les opportunités pour votre business. </p>
                  <p *ngIf="language == 'en'">The strategic team at our Web 3.0 studio will help you and your teams to become acculturated to blockchain technologies, so that you can better understand the context in which this major technological change is taking place. This technological change involves many notions such as DAO, blockchain, cryptocurrency, Play2Earn, NFT... 
                    Our Web 3.0 training course enables you to grasp these key concepts and identify opportunities for your business. </p></div>

            </div>
              <div class="divider"></div>
              <div class="content"></div>


    </div>
<div class="text-end">
    <a *ngIf="language == 'fr'" class="btn btn_modifier " (click)="scrollToSection('form')">Besoin de créer votre NFT ? <i class="fa-solid fa-plus ms-4"></i></a>
    <a *ngIf="language == 'en'" class="btn btn_modifier " (click)="scrollToSection('form')">Need to create your NFT? <i class="fa-solid fa-plus ms-4"></i></a>

</div>
    </div>


    </div>



    <div class="row" style="margin-top: 250px;">

<div class="col-lg-6">

<h2 *ngIf="language == 'fr'" >Ils travaillent déjà<br> <b>avec Vingt Deux</b></h2>
<h2 *ngIf="language == 'en'" >They are already working<br> <b>with Vingt Deux</b></h2>


</div>

    </div>












    <div class="row mt-5" >

        <div class="col-lg-3 col-md-6 col-6">

<img src="./assets/images/michelin-meta.svg" class="img-fluid">
        </div>
        <div class="col-lg-3 col-md-6 col-6">

            <img src="./assets/images/ricard-meta.svg" class="img-fluid">
                    </div>
                    <div class="col-lg-3 col-md-6 col-6">

                        <img src="./assets/images/michelin-meta.svg" class="img-fluid">
                                </div>
                                <div class="col-lg-3 col-md-6 col-6">

                                    <img src="./assets/images/ricard-meta.svg" class="img-fluid">
                                </div>
                                            <div class="col-lg-3 col-md-6 col-6">

                                                <img src="./assets/images/michelin-meta.svg" class="img-fluid">
                                                        </div>
                                                        <div class="col-lg-3 col-md-6 col-6">

                                                            <img src="./assets/images/ricard-meta.svg" class="img-fluid">
                                                        </div>
                                                                    <div class="col-lg-3 col-md-6 col-6">

                                                                        <img src="./assets/images/michelin-meta.svg" class="img-fluid">
                                                                                </div>
                                                                                <div class="col-lg-3 col-md-6 col-6">

                                                                                    <img src="./assets/images/ricard-meta.svg" class="img-fluid">
                                                                                </div>


            </div>










            <div class="row mt-5">
                <div class="col-lg-6 col-md-6 mt-5 ">

                    <h2 *ngIf="language == 'fr'">Métaverse,<br>
                      NFT et stratégie de marque<br>
                      <b>foire aux questions</b></h2>
                      <h2 *ngIf="language == 'en'">Metaverse,<br>
                        NFT and branding<br>
                        <b>frequently asked questions </b></h2>


            <div class="slide">
                           <div class="sidebar" style="border-left: 1px solid white">
                            <div class="title" onclick="toggleDescription(1)"><strong *ngIf="language == 'fr'">Quel lien entre métaverse & NFT ?</strong><strong *ngIf="language == 'en'">What's the link between metaverse & NFT?</strong></div>
                             <div class="arrow1"></div>
                             <div class="description" id="description1"><p *ngIf="language == 'fr'">Le métaverse ou métavers est un un espace numérique partagé qui combine réalité virtuelle et physique. Dans cet univers, il est possible d’acheter, vendre et utiliser des items digitaux, les NFT, qui peuvent être des copies digitales certifiées de produits existants dans le monde réel ou bien de nouvelles créations virtuelles. Les NFT font figure de titre de propriété dans le métavers et proposeront bien plus encore de fonctionnalités à l’avenir.</p>
                              <p *ngIf="language == 'en'">The metaverse is a shared digital space that combines virtual and physical reality. In this universe, it is possible to buy, sell and use digital items, or NFTs, which can be certified digital copies of existing real-world products, or new virtual creations. NFTs act as title deeds in the metaverse, and will offer many more functionalities in the future.</p>
                            </div>
                             <hr>
                             <div class="title" onclick="toggleDescription(2)"><strong *ngIf="language == 'fr'">Quel est l’intérêt des marques pour le Métaverse ?</strong><strong *ngIf="language == 'en'">Why are brands interested in the Metaverse?</strong></div>
                             <div class="arrow2"></div>
                            <div class="description" id="description2"><p *ngIf="language == 'fr'">Nous vous accompagnons dans la mise en place du plan de promotion de votre collection de NFT afin de lui donner la meilleure visibilité et le meilleur ROI possibles. Nous vous aidons également à mettre en avant vos NFT dans votre stratégie de communication.</p>
                              <p *ngIf="language == 'en'">We'll help you set up a promotional plan for your NFT collection, to give it the best possible visibility and ROI. We can also help you highlight your NFTs in your communication strategy.</p>
                            </div>
                             <hr>
                            <div class="title" onclick="toggleDescription(3)"><strong *ngIf="language == 'fr'">Comment lancer son NFT pour sa marque ?</strong><strong *ngIf="language == 'en'">How do you launch an NFT for your brand?</strong></div>
                             <div class="arrow3"></div>
                            <div class="description" id="description3"><p *ngIf="language == 'fr'">L’agence Vingt Deux vous accompagne et s’occupe de tout : de la création graphique aux aspects techniques, en passant par la communication et à la diffusion et commercialisation sur les plateformes d’échanges des NFT, notre agence experte en NFT, metavers et web 3.0 s’occupe de tout. De l’idée au marketing et à la diffusion, nous accompagnons votre projet de création de NFT de A à Z.</p>
                              <p *ngIf="language == 'en'">Vingt Deux takes care of everything: from graphic design to technical aspects, from communication to distribution and marketing on NFT exchange platforms, our agency, expert in NFT, metavers and web 3.0, takes care of everything. From idea to marketing and distribution, we support your NFT creation project from A to Z.</p>
                            </div>
                             <hr>
                             <div class="title" onclick="toggleDescription(4)"><strong *ngIf="language == 'fr'">Ethereum vs Solana : quelle technologie utiliser pour lancer son NFT ?</strong><strong *ngIf="language == 'en'">Ethereum vs Solana: which technology should you use to launch your NFT?</strong></div>
                             <div class="arrow4"></div>
                             <div class="description" id="description4"><p *ngIf="language == 'fr'">Les 2 technologies sont des choix sûrs et pertinents pour le déploiement d’un NFT. Solana est devenue la plateforme la plus active et populaire en moins de deux ans seulement et est désormais l’un des concurrents les plus sérieux à Ethereum, la technologie historique et qui reste toujours dominante. Solana est privilégiée en grande partie pour sa rapidité d’execution et ses faibles coûts.

                              Il existe également d’autres solutions que ces deux là pour déployer ses NFT. On peut ainsi citer la blockchain Cardano très performante et plébiscitée par les développeurs et ses utilisateurs ou encore Ronin qui figure dans le top 3 des réseaux NFT.</p>
                            
                              <p *ngIf="language == 'en'">Both technologies are safe and relevant choices for NFT deployment. Solana has become the most active and popular platform in less than two years, and is now one of the most serious competitors to Ethereum, the historic and still dominant technology. Solana is favored largely for its speed of execution and low costs.
                                There are also other solutions for deploying NFTs. These include the high-performance Cardano blockchain, popular with developers and users alike, and Ronin, one of the top 3 NFT networks.</p></div>
                             <hr>
                             <div class="title" onclick="toggleDescription(5)"><strong *ngIf="language == 'fr'">Qu’est-ce que le “play-to-earn” ?</strong><strong *ngIf="language == 'en'">What is play-to-earn?</strong></div>
                             <div class="arrow5"></div>
                             <div class="description" id="description5"><p *ngIf="language == 'fr'">Cette expression signifiant littéralement “jouer pour gagner” désigne la possibilité pour les utilisateurs de gagner des tokens, des crypto-monnaies ou des NFT en participant à des jeux. Ces gains d’actifs peuvent être ensuite échangés et vendus, offrant ainsi une opportunité de spéculation. Ce système s’applique principalement au secteur du gaming, mais s’étend de plus en plus à d’autres applications. Le play to earn offre désormais des opportunités intéressantes à exploiter par les marques pour attirer de nouvelles cibles.</p>
                              <p *ngIf="language == 'en'">This expression, literally meaning "play to win", refers to the possibility for users to win tokens, crypto-currencies or NFTs by participating in games. These winning assets can then be traded and sold, providing an opportunity for speculation. This system mainly applies to the gaming sector, but is increasingly being extended to other applications. Play to earn now offers interesting opportunities for brands to exploit to attract new targets.</p>
                            </div>

                        </div>
                          <div class="divider"></div>
                          <div class="content"></div>


                </div>
           
                </div>
                <div class="col-lg-6 col-md-6 mt-5 " >
                    <div class="video-container">
                      <video muted="muted" src="./assets/images/Fond-Meta-02-Glitch.mp4" id="video8" preload="auto" autoplay="autoplay" loop="loop"   playsinline="playsinline" controlslist="nodownload"></video>
                      <img src="./assets/images/shape-faq.svg" class="img-fluid" />
                    </div>
                  </div>



                </div>

<div class="row mt-5 mb-3">

<div class="col-lg-6 mt-5 bg-white order-lg-1 order-2 ">
<div *ngIf="language == 'fr'" class="text-dark p-3">
    <h1> Nous Contacter</h1>
    <p>Les champs marqués d’un * sont obligatoires   </p>
    <form id="form">
        <div class="form-group">
          <label for="prenom">Prénom *</label>
          <input type="text" class="form-control" id="prenom" required>
        </div>
        <div class="form-group">
          <label for="nom">Nom *</label>
          <input type="text" class="form-control" id="nom" required>
        </div>
        <div class="form-group">
          <label for="entreprise">Entreprise *</label>
          <input type="text" class="form-control" id="entreprise" required>
        </div>
        <div class="form-group">
          <label for="email">E-mail *</label>
          <input type="email" class="form-control" id="email" required>
        </div>
        <div class="form-group">
          <label for="telephone">Téléphone *</label>
          <input type="tel" class="form-control" id="telephone" required>
        </div>
        <div class="form-group">
          <label for="besoin">Quel est votre besoin ? *</label>
          <textarea class="form-control" id="besoin" rows="3" required></textarea>
        </div>
        <button type="submit" class="btn btn-dark mt-4 mb-4">Envoyer</button>
      </form>
    </div>

    <div *ngIf="language == 'en'" class="text-dark p-3">
      <h1> Contact us</h1>
      <p>Fields marked with * are mandatory   </p>
      <form id="form">
          <div class="form-group">
            <label for="prenom">First name *</label>
            <input type="text" class="form-control" id="prenom" required>
          </div>
          <div class="form-group">
            <label for="nom">Name *</label>
            <input type="text" class="form-control" id="nom" required>
          </div>
          <div class="form-group">
            <label for="entreprise">Company *</label>
            <input type="text" class="form-control" id="entreprise" required>
          </div>
          <div class="form-group">
            <label for="email">E-mail *</label>
            <input type="email" class="form-control" id="email" required>
          </div>
          <div class="form-group">
            <label for="telephone">Phone *</label>
            <input type="tel" class="form-control" id="telephone" required>
          </div>
          <div class="form-group">
            <label for="besoin">What do you need? *</label>
            <textarea class="form-control" id="besoin" rows="3" required></textarea>
          </div>
          <button type="submit" class="btn btn-dark mt-4 mb-4">Send</button>
        </form>
      </div>
</div>

<div *ngIf="language == 'fr'" class="col-lg-6 p-3 order-lg-2 order-1 mt-5">
    <h2 class="mt-5">Vous avez<br>
        <b>un projet web3 ?</b></h2>

        <h3 class="mt-5">Et si nous lui donnions<br>
            vie ensemble ? </h3>
            <div class="d-flex justify-content-between mt-5 ">
                <h3 class="elementor-heading-title elementor-size-default"><a href="tel:0444050022" class="text-white">04 44 05 00 22</a></h3>
                <h3 class="elementor-heading-title elementor-size-default"><a href="mailto:hello@vingtdeux.fr" class="text-white">hello@vingtdeux.fr</a></h3>
              </div>

</div>
<div *ngIf="language == 'en'" class="col-lg-6 p-3 order-lg-2 order-1 mt-5">
  <h2 class="mt-5">You have<br><b>a web3 project?</b></h2>

      <h3 class="mt-5">What if we gave it<br>
        life together?</h3>
          <div class="d-flex justify-content-between mt-5 ">
              <h3 class="elementor-heading-title elementor-size-default"><a href="tel:0444050022" class="text-white">04 44 05 00 22</a></h3>
              <h3 class="elementor-heading-title elementor-size-default"><a href="mailto:hello@vingtdeux.fr" class="text-white">hello@vingtdeux.fr</a></h3>
            </div>

</div>


</div>


</div>


</div>
